
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1576201836106-db1758fd1c97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 119, 152, 0.7);
  margin: 3em 4em;
  width: fit-content;
  color: beige;
  border: none;
  box-shadow: 40px 40px 80px rgb(76, 79, 110);
  border-radius: 4em;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  padding: 0.4em 0;
  width: 100%;
  background-color: #545B77;
  border-radius: 1em 1em 0 0;
}

.imageAndDataContainer {
  display: flex;
  flex-direction: row;
}

.img {
  width: 35%;
  border: 2px solid black;
  border-radius: 0 0 0 4em;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dataContainer {
  padding: 10px 20px;
  background-color: #8294C4;
  border: 1px solid black;
  border-radius: 1em;
}

.dataContainer:hover {
  background-color: #19A7CE;
}

.subtitle {
  margin: 0.2em 0;
  font-size: 2.5em;
}

.dataMinMax {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin: 0 1em;
}

.dataText {
  margin: 0.3em 0;
}

.temperamentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temperaments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

.temperament {
  text-align: center;
  margin: 0.5em;
  padding: 0.1em 0.3em;
  font-size: 1.6em;
  background-color: #8294C4;
  border: 1px solid black;
  border-radius: 10px;
}

.temperament:hover {
  background-color: #19A7CE;
}