.container__paginated {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .Custom_Logo__Pag {
    width: 24px;
    height: 24px;
    fill: #000; /* Cambia el color a tu preferencia */
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  h3 {
    margin: 0 10px;
  }
  
  p {
    margin: 0 10px;
  }
  