
body {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.kKBf8FoNYCG-9E7hco2DEAHaEo&pid=Api&P=0&h=180");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  
}


/* Estilos para el contenedor principal */
.LandingPage {
  padding: 0;
  margin: 0;
}

/* Estilos para el contenedor interno */
.container {
  
    width: 80%;
    max-width: 750px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    margin: 70px;
    background: rgba(225, 198, 165, 0.5); /* Color de fondo transparente */
    height: auto;
  
}


/* Estilos para el título h1 */
.container h1 {
  padding: 10px;
  margin-bottom: 70px; /* Espacio entre h1 y h3 */
  color: #000000;
  font-size:100px;
  font-weight: bold;
  text-shadow: 0 10px #fcbf49;
}

/* Estilos para el botón */
.container button {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  width: 200px;
  height: 100px;
  border: none;
  outline: none;
  background: #f2ae2f;
  color: #110808;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  font-size: 35px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
}


/* Estilos para el botón al pasar el mouse sobre él */
.container button:hover {
  background: #ab5703;
  transition: 0.1s;
}


