.Custom_Container__Error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  }
  
  .Custom_H2_404 {
    font-size: 2rem; /* Tamaño de fuente del encabezado */
    margin-bottom: 20px; /* Espacio inferior entre el encabezado y el botón */
  }
  
  .Custom_Button__404 {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none;
    cursor: pointer;
    font-size: 1rem; /* Tamaño de fuente del botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .Custom_Button__404:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
  }
  