.Custom_Container {
    /* Estilos para el contenedor principal */
    /* Por ejemplo: */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .Custom_Container_Cards {
    /* Estilos para el contenedor de las tarjetas */
    /* Por ejemplo: */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .Custom_Cards_Cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  /* Estilos para el componente Card */
  .Custom_Card_Container {
    width: 300px; /* Ancho fijo */
    height: 400px; /* Alto fijo */
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Custom_Card_Face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .Custom_Card_Face.front {
    transform: rotateY(0deg);
    background-color: #f0f0f0;
  }
  
  .Custom_Card_Face.back {
    transform: rotateY(180deg);
  }
  
  .Custom_Card_Image {
    width: 100%; /* Ancho fijo al 100% del contenedor */
    max-height: 200px; /* Altura máxima fija */
    margin-bottom: 10px;
  }
  
  .Custom_Card_Name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .Custom_Card_Temperament {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .Custom_Card_Link_Details {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .Custom_Card_Link_Details:hover {
    background-color: #0056b3;
  }
  