/* Estilos para el contenedor principal */
.Custom_Container__Create {
  min-height: 84.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

/* Estilos para la imagen */
.Create__Img {
background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 height: 100vh;
}

/* Estilos para el formulario */
.Custom_Form__Create {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  width: 40%;
  height: 38rem;
  background-color: var(--Oscuro);
  padding: 2rem 4rem;
  color: var(--white);
  justify-content: center;
}

/* Estilos para las etiquetas y entradas del formulario */
.Custom_Form__Label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.Custom_Form__Input {
  width: 100%;
  padding: .3rem;
  font-family: 'Inter', sans-serif;
}

.Custom_Form__Input--Height {
  width: 50%;
  font-family: 'Inter', sans-serif;
}

/* Estilos para los mensajes de error */
p {
  color: red;
  margin-top: 4px;
  margin-bottom: 12px;
}

/* Estilos para el botón de eliminar temperamento */
.SelectedTemp__RemoveButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 8px;
}

/* Estilos para el texto del temperamento seleccionado */
.SelectedTemp__Text {
  display: inline-block;
  margin-right: 8px;
}

@media screen and (max-width:600px) {
  .Container__Create{
      flex-direction: column;
      height: 100%;
      padding: 2rem 0;
  }

  .Create__Img{
      width: 85%;
      height: 60%;
  }

  .Form__Create{
      height: 100%;
      width: 85%;
  }
}
